@font-face {
  /*Custom font found in fonts folder*/
  font-family: 'CustomFont';
  src: url('fonts/newfont.otf');
  font-weight: normal;
  font-style: normal;

}

body {
  background-image: url(images/background4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'CustomFont', sans-serif;
  font-size: 24px;
  -webkit-text-stroke: .3px black;
  /* added to make letters more readable*/
  color: aqua;
}
.text-color-change {
  /* Text color when class is applied */
  color: red;
}
@media (max-width: 768px) {
  /*makes the font size smaller based on what the window size is */
  body {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

nav {
  /* nav bar*/
  background-color: black;
  color: black;
  opacity: 80%;
  border: 1px solid white;

}

ul {
  /* links list*/
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

li {
  display: inline-block;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: underline 0.3s;
  /* Add transition for smooth effect */
}

a:hover {
  text-decoration: underline;
  /* Underline on hover */
  color: brown;

}

.grid-container-home {
  /* home page main grid*/
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(0, 0, 0, 0.5);


}

.grid-container-contact {
  /*contact page main grid*/
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(0, 0, 0, 0.5);

}

.grid-container-services {
  /*services page main grid*/
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(1, 1fr 1fr);
  background-color: rgba(0, 0, 0, 0.5);

}

.grid-container-ethan {
  /*ethan page main grid*/
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(0, 0, 0, 0.5);
}

.grid-container-about {
  /*about page main grid*/
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(0, 0, 0, 0.5);
}

.grid-container-buy {
  /* buy page grid*/
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(0, 0, 0, 0.5);
}

.grid-home {
  /*home page sub grid*/
  border: 1px solid white;
  padding: 20px;

  text-align: center;
  

}

.grid-contact {
  /*contact page sub grid*/

  border: 1px solid white;
  padding: 20px;

  text-align: center;
  


}

.grid-services {
  /*services page sub grid*/

  border: 1px solid white;
  padding: 20px;

  text-align: center;
  


}

.grid-ethan {
  /*ethan page sub grid*/
  border: 1px solid white;
  padding: 20px;

  text-align: center;
  
}

.grid-about {
  /*about page sub grid*/
  border: 1px solid white;
  padding: 20px;


  text-align: center;
  
}

.grid-buy {
  /* buy page sub grid*/
  border: 1px solid white;
  padding: 20px;

  text-align: center;
 
}


.moving-text-container {
  /*home page moving text*/
  overflow: hidden;
}

.moving-text {
  /* how long anf far the text moves*/
  animation: moveText 8s linear infinite;
  white-space: nowrap;
}

@keyframes moveText {

  /*moving text*/
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.ethan {
  border: 1px solid white;
  max-width: 100%;
  height: auto;
}

p {
  font-size: auto, 20px; /**/
}

.product1 {
  /*product on servies page*/
  max-width: 40%;
  height: auto;
  border: 1px solid white;
}

.product2 {
  /*product on services page*/
  max-width: 40%;
  height: auto;
  border: 1px solid white;
}

.watermark {
  /*logo at bottem right side*/
  position: fixed;
  bottom: 2%;
  right: 2%;
  opacity: 0.5;
  max-width: 120px;
  text-decoration: none;
}

@media (max-width: 60px) {
  .watermark {
    max-width: 20%;
  }
}
.yellow-tint {
  /* Yellow tint when class is applied */
  background-color: rgba(255, 255, 0, 0.5);
}