@font-face {/*Custom font found in fonts folder*/
  font-family: 'CustomFont';
  src: url('fonts/newfont.otf');
  font-weight: normal;
  font-style: normal;
  
}
body {
  background-image: url(images/background4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'CustomFont', sans-serif;
  font-size: 24px;

}

@media (max-width: 768px) {/*makes the font size smaller based on what the window size is */
  body {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

nav {
  background-color: black;
  color: #fff;
  opacity: 80%;
  border: 1px solid white;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

li {
  display: inline-block;
}


a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: underline 0.3s;
  /* Add transition for smooth effect */
}

a:hover {
  text-decoration: underline;
  /* Underline on hover */
  color: brown;
  
}

.grid-container-home {
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(0, 0, 0, 0.5);
  

}

.grid-container-contact {
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(0, 0, 0, 0.5);

}
.grid-container-services {
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(1, 1fr 1fr);
  background-color: rgba(0, 0, 0, 0.5);

}
.grid-container-ethan {
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(1, 1fr 1fr);
  background-color: rgba(0, 0, 0, 0.5);
}


.grid-home {
  border: 1px solid white;
  padding: 20px;
  
  text-align: center;
  color: #fff;

}

.grid-contact {

  border: 1px solid white;
  padding: 20px;
  
  text-align: center;
  color: #fff;


}
.grid-services {

  border: 1px solid white;
  padding: 20px;
 
  text-align: center;
  color: #fff;


}
.grid-ethan {
  border: 1px solid white;
  padding: 20px;
 
  text-align: center;
  color: #fff;
}


.moving-text-container {
  overflow: hidden;
}

.moving-text {
  animation: moveText 8s linear infinite;
  white-space: nowrap;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.ethan {
  border: 1px solid white;
  max-width: 100%;
  height: auto;
}

p {
  font-size: auto, 20px;
}
.product1{
  max-width: 40%;
  height: auto;
  border: 1px solid white;
}
.product2{
  max-width: 40%;
  height: auto;
  border: 1px solid white;
}
.watermark {
  position: fixed;
  bottom: 2%;
  right: 2%;
  opacity: 0.5;
  max-width: 120px;
  text-decoration: none;
}
@media (max-width: 60px) {
  .watermark {
    max-width: 20%;
  }
}

