body {
    background-color: green;
  }
nav {
    background-color: #333;
    color: #fff;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline-block;
  }
  
a  {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: underline 0.3s; /* Add transition for smooth effect */
  }
  
a:hover {
    text-decoration: underline; /* Underline on hover */
    background-color: #555;
  }